



img{
    opacity: 0.5;
}

.navbar-nav{
    padding-right: 150px;
}
.ri-search-line {
    color: black;
}
.jry{
    padding-left: 100px;
    padding-top: 200px;
}
.card-title{
    font-size: 50px;
}
.card-text{
    width: 540px;
}

h3{
    float: left;
}
.Holiday{
    border: none;
    border: 1px solid gray;
    padding: 50px;
    margin: 0 100px;
}


